---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="About Me"
  description="A brief introduction to who I am and what I'm passionate about."
  pubDate={new Date('November 4, 2025')}
  heroImage={AboutHeroImage}
>
  <p>Coming soon.</p>
</Layout>
